.App {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;

 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;

}
.title {
  margin-left: -80%;
}
.done {
  text-decoration: line-through;
}
.donetext {
  margin-left: -80%;
}
.todo-item {
  display: flex;
  align-items: center;
}

.sub-todo-item {
  display: flex;
  align-items: center;
}

.input {
  height: 30px;
  border: 1px solid#cccc;
  border-radius: 5px;
  padding: 10px;
  color: rgba(16, 185, 129);
}
.input:hover,
.input:focus,
.input:active {
  border: 1px solid rgba(16, 185, 129);
}
input::placeholder {
  color: rgba(16, 185, 129);
  font-size: 1.2em;
}
.button {
  height: 40px;
  width: 60px;
  border: 1px solid#cccc;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  background-color: rgba(16, 185, 129);
}
.button:focus,
.button:hover {
  background-color: rgb(9, 103, 72);
}
.button-danger {
  background-color: #ff0000;
  color: #ffffff;
}
.button-danger:focus,
.button-danger:hover {
  background-color: #e65353;
}
.button-success {
  background-color: rgb(33, 243, 33);
  color: #ffffff;
}
